section.section__about 
    h3.section__about-title About us
    p.section__about-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, labore?
    .section__about-content 
        .section__about-box
            .section__about-item 
                img.section__about-img(src=require('@/images/about1.jpg'), alt="")
                .about__item-info 
                    h3.about__item-title Lamborghini Evo
                    p.about__item-tex Lorem, ipsum.
            .section__about-item 
                img.section__about-img(src=require('@/images/about2.jpg'), alt="")
                .about__item-info 
                    h3.about__item-title Bmw Concept
                    p.about__item-tex Lorem, ipsum.
        .section__about-us
                h3.about__item-title Little about us 
                p.about__item-text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores, ab adipisci nemo odio modi dignissimos!
                a.about__item-btn(href="#") About us  