section.section__blog 
    h4.section__blog-title Our blog 
    p.section__blog-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt.
    .section__blog-box
        .section__blog-item 
            img.section__blog-img(src=require('@/images/blog1.jpg'), alt="")
            h4.blog__item-title Lorem, ipsum dolor.
            p.blog__item-text Lorem ipsum dolor sit amet consectetur.
            a.blog__item-btn(href="#") more 
        .section__blog-item 
            img.section__blog-img(src=require('@/images/blog2.jpg'), alt="")
            h4.blog__item-title Lorem, ipsum dolor.
            p.blog__item-text Lorem ipsum dolor sit amet consectetur.
            a.blog__item-btn(href="#") more 
        .section__blog-item 
            img.section__blog-img(src=require('@/images/blog3.jpg'), alt="")
            h4.blog__item-title Lorem, ipsum dolor.
            p.blog__item-text Lorem ipsum dolor sit amet consectetur.
            a.blog__item-btn(href="#") more 