section.section__contact 
    h4.section__contact-title Contact Us
    p.section__contact-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, expedita!
    .section__contact-content 
        .section__contact-info 
            h4.contact__info-title Send Us Message 
            input(type="text" placeholder="your name").contact__info-input
            input(type="text" placeholder="your password").contact__info-input
            textarea.contact__info-area 
            a.contact__info-btn(href="#") Send
        img(src=require('@/images/contact.jpg'), alt="").contact__info-img            