section.section__hello 
    .section__hello-content
        .section__hello-info 
            h1.section__hello-title Welcome to the our best cars salon
            p.section__hello-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis reiciendis libero excepturi ratione ipsum accusantium quibusdam quam repellat pariatur blanditiis.
            a(href="#").section__hello-btn view
        .hello__img 
            img(src=require('@/images/hello-img.jpg'), alt="").hello__images