section.section__info 
    .section__info-content 
        .section__info-item 
            span.section__info-icon.icon-adress 
            p.section__info-text Russia,Moscow city,street Pavlova,43
        .section__info-item 
            span.section__info-icon.icon-phone 
            p.section__info-text +733439938,+89488849
        .section__info-item 
            span.section__info-icon.icon-email 
            p.section__info-text Russia_lux_cars@mail.ru
    .section__info-icons 
        span.info__icon.icon-facebook
        span.info__icon.icon-twiter
        span.info__icon.icon-instagram