footer.footer 
    .footer__content 
        .footer__info 
            img.footer__info-img(src=require('@/images/nav-logo.png'), alt="")
            p.footer__info-text Lorem, ipsum dolor.
        .footer__drop 
            p.footer__drop-text Lorem, ipsum.
            span.footer__drop.icon-row